{% extends 'base.html' %}


{% block body %}
<div class="row row-cols-1 row-cols-md-2">
    {% for category in category_list %}
    <div class="col mb-4">
      <div class="card">
        <img src="{{category.image}}" height="260" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="/item/categories/{{category.id}}" class="btn btn-primary btn-block">{{category.name}}</a></h5>
          <!-- <p class="card-text">{{category.name}}</p> -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}