<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Album</title>
    <link rel="stylesheet" href="{% static 'album/css/master.css' %}">
  </head>
  <body>
    <h1>Welcome to album</h1>
    <p>An amazing collection of nature photoes that will blow your mind.</p>

    <div class="main">
      {% if photos %}
      <div class="row">
        {% for photo in photos %}
        <div class="col">
          <img src="{{photo.url}}" alt="">
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </body>
</html>
